body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    font-size: large;
    padding: 30px;
}

body p {
    padding: 15px;
}

header {
    background-color: #e0e0e0;
}

header img {
    width: 10%;
    margin-top: 30px;
}

nav {
    display: inline-block;
    text-align: center;
    width: 80%;
}

ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

main {
    background-color: yellow;
    font-size: 120%;
}

footer {
    background-color: #e0e0e0;
}

li {
    display: inline-block;
    width: 25%;
}

h1 {
    font-size: 250%;
    text-align: center;
    font-family: cursive;
}

p {
    line-height: 1.5;
}

.neighborhood {
    display: grid;
    background-color: yellow;
    grid-template-columns: auto auto;
    padding: 10px;
}

.neighborhood img {
    width: 300px;
}

.parks {
    display: grid;
    background-color: yellow;
    grid-template-columns: auto auto auto auto auto;
}

.parks img {
    width: 250px;
}
